<h3>Здравствуйте, <%= user.NAME %>
        <%= user.PATRONYMIC %>!</h3>
<p>Эта курсовая работа по теме "Разработка приложения для автоматизации работы мебельного
    склада" позволяет просматривать список складов, мебели на них, а также каталог типов товаров. Кроме того есть
    возможность посмотреть небольшую сводку.</p>
<p>Вы можете управлять данными в таблицах, добавлять, редактировать и удалять записи.</p>
<p>Для этого выберите нужную таблицу в меню выше.</p>
<p>Если у вас есть вопросы, вы можете обратиться к администратору (если бы).</p>
<p>Кстати, вы <%= user.POSITION.toLowerCase() %>.</p>