<h3>Каталог товаров</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(item=> { %>
                <tr>
                    <td>
                        <%= item.ID %>
                    </td>
                    <td>
                        <%= item.NAME %>
                    </td>
                    <td>
                        <%= item.PRICE %>
                    </td>
                    <td>
                        <%= item.DESCRIPTION %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>