<h3>Список складов</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Расположение</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(warehouse=> { %>
                <tr>
                    <td>
                        <%= warehouse.ID %>
                    </td>
                    <td>
                        <%= warehouse.NAME %>
                    </td>
                    <td>
                        <%= warehouse.LOCATION %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>